<h1>
  Employees
</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Email Id</th>
                        <th>Phone Number</th>
                        <th>Date of Joining</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employeeDetails">
                        <th scope="row">{{ employee.id }}</th>
                        <td>{{ employee.code }}</td>
                        <td *ngIf="showEditBtn; else editText">{{ employee.name }}</td>
                        <td>{{ employee.emailid }}</td>
                        <td>{{ employee.phone }}</td>
                        <td>{{ employee.dateOfJoining }}</td>
                        <ng-template #editText><td><input type="text" name="edit" [value]="employee.name"></td></ng-template>
                        <td><button type="button" class="btn btn-primary" name="button" *ngIf="showEditBtn" (click)="makeEditable()">
                           <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger" name="button" [hidden]="!showDeleteBtn" (click)="deleteEntry()">
                           <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br><br>
{{ getData }}
